Source: kms-jsonrpc
Priority: optional
Section: libs
Maintainer: Kurento <kurento@googlegroups.com>
Build-Depends:
 cmake,
 debhelper-compat (= 13),
 kms-cmake-utils (>= 6.18.1),
 kmsjsoncpp-dev,
 libboost-dev,
 libboost-test-dev,
 pkg-config,
Standards-Version: 4.5.1
Rules-Requires-Root: no
Vcs-Git: https://github.com/Kurento/kms-jsonrpc.git
Vcs-Browser: https://github.com/Kurento/kms-jsonrpc
Homepage: https://kurento.openvidu.io/

Package: kms-jsonrpc
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Breaks:
 kms-jsonrpc-1.0,
Replaces:
 kms-jsonrpc-1.0,
Description: JSON-RPC library for use by Kurento
 C++ implementation of the JSON-RPC Protocol for Kurento.
 .
 This package contains the shared library.

Package: kms-jsonrpc-dev
Architecture: any
Section: libdevel
Depends:
 kms-jsonrpc (= ${binary:Version}),
 kmsjsoncpp-dev,
 libboost-dev,
 libboost-test-dev,
 ${misc:Depends},
Breaks:
 kms-jsonrpc-1.0-dev,
Replaces:
 kms-jsonrpc-1.0-dev,
Description: JSON-RPC dev library for building Kurento
 C++ implementation of the JSON-RPC Protocol for Kurento.
 .
 This package contains the development files.
